<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register</title>
        <meta name="description"
              content="This is the registration page for our website.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    {% block content %}
        {% load crispy_forms_tags %}
        <body>
            <section>
                <div>
                    <!-- <div>
                        <img src="" alt="">
                    </div> -->
                    <div>
                        <h1>Bem vindo de volta!</h1>
                        <p>Nosso site de videoconferência, onde a comunicação ganha vida em tempo real.</p>
                    </div>
                </div>
            </section>
            <section>
                <div>
                    <!-- <div>
                        <img src="" alt="">
                    </div> -->
                </div>
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <label for="">Faça seu cadastro</label>
                    <input type="text" placeholder="Nome">
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="Senha">
                    <input type="password" placeholder="Repetir sua senha">
                    <button type="submit">Register</button>
                </form>
                <div>
                    <p>Já tem uma conta?</p>
                    <a href="{% url 'auth/login' %}">Faça login!</a>
                </div>
            </section>
        </body>
    {% endblock content %}
</html>
