<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register</title>
        <meta name="description"
              content="This is the registration page for our website.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    {% block content %}
        {% load crispy_forms_tags %}
        <body>
            <h1>Register</h1>
            <form action="{% url 'auth/register' %}" method="post">
                {% csrf_token %}
                {{ register|crispy }}
                <button type="submit">Register</button>
            </form>
            {}
            <a href="{% url 'register' %}">Register</a>
        </body>
    {% endblock content %}
</html>
